.btn {
    position: relative;

    &::before {
        transition: all 0.3s ease-in-out;
        content: '';
        width: 0%;
        height: 100%;
        background: #3CEDB7;
        position: absolute;
        top: 0;
        border-radius: 6px;
        left: 0;
        z-index: 1;
    }

    & .btn-text {
        color: #135CFD;
        z-index: 2;
        transition: all 0.3s linear;
    }

    &:hover {


        .btn-text {
            color: white;
            position: absolute;
            top: 25%;
            left: calc(0px + 20px);
        }

        &::before {
            background: #3CEDB7;
            width: 100%;
        }
    }
}

.hero {
    // background: red;
    width: 100%;
    height: 80%;

    .hero-left {

        background: url('../../assets/images/effect.png');
        background-size: cover;
        display: flex;
    }


}

.solution {
    background: url('../../assets/images/solution-bg.png');
    background-size: cover;

}