@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@font-face {
  font-family: 'Tungsten';
  src: url('./assets/fonts/Tungsten-Black.otf');
}

@font-face {
  font-family: 'Tungsten';
  src: url('./assets/fonts/Tungsten-Bold.otf');
}

@font-face {
  font-family: 'Tungsten';
  src: url('./assets/fonts/Tungsten-Light.otf');
}

@font-face {
  font-family: 'Tungsten';
  src: url('./assets/fonts/Tungsten-Semibold.otf');
}

@font-face {
  font-family: 'Tungsten';
  src: url('./assets/fonts/Tungsten-Medium.otf');
}

* {
  font-family: Nunito;
  font-weight: 400;
}

body {
  margin: 0;
  overflow-x: hidden;
}
